@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
p, h1, h2, h3, h4, h5 {
	font-family: "FS Joey Web Regular", Helvetica, Arial, Sans-serif;
}
h4 {
	color: #0397d6;
	font-size: 16px;
}
a.btn {
	width: 95px;
	height: 35px;
	color: #fff;
	border-radius: 0;
	text-align: center;
}
.magenta {
	background: #ed2258;
}
body {
	background: -moz-linear-gradient(-45deg, rgba(208,236,249,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(208,236,249,1)), color-stop(100%, rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(208,236,249,1) 0%, rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(208,236,249,1) 0%, rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(208,236,249,1) 0%, rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(208,236,249,1) 0%, rgba(125,185,232,0) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ecf9', endColorstr='#007db9e8', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body #main-wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: -450px;
}
body #full-banner {
	overflow: hidden;
}
body #poly-container-top, #polscontainer {
	z-index: -5;
	position: absolute;
	width: 100%;
	height: 2000px;
	overflow:hidden;
}
body #full-banner img {
	left: 50%;
	margin-left: -960px;
	position: relative;
	width: 1920px;
	z-index: -1;
}
#main-wrapper .col-50 {
	display: inline-block;
	width: 48%;
}
#top-wrapper #endorsers-top {
	position: relative;
	bottom: 135px;
}
#endorsers-top #anne {
	margin-left: -50px;
}
#endorsers-top #kobe {
	margin-left: -10px;
}
#details-container ul {
	list-style-type: none;
}
#details-container ul li {
	display: inline-block;
	width: 48%;
	margin-bottom: 50px;
}
#details-container ul li img {
	float: left;
	width: 35%!important;
}
#details-container ul li p {
	height: 70px;
	font-size: 10px;
}
#tvc-container {
	margin-top: 20px;
}
.st-wrapper p {
	width: 420px;
	margin-left: 320px;
	margin-top: -260px;
}
#main-wrapper #mid-wrapper {
	margin-top: -200px;
}
/*slider css*/
.js .st-stack-raw {
	display: none;
}
.st-wrapper {
	width: 100%;
	height: 500px;
	position: relative;
	margin: 0 auto;
	-webkit-perspective: 1200px;
	-webkit-perspective-origin : 50% 100%;
	-moz-perspective: 1200px;
	-moz-perspective-origin : 50% 100%;
	-o-perspective: 1200px;
	-o-perspective-origin : 50% 100%;
	-ms-perspective: 1200px;
	-ms-perspective-origin : 50% 100%;
	perspective: 1200px;
	perspective-origin : 50% 100%;
}
.st-stack {
	position: absolute;
	height: 10px;
	bottom: 0px;
	background-image: url(../images/gradient.png);
	background-image: -webkit-linear-gradient(top, #fff 50%, #e7ae38 50%);
	background-image: -moz-linear-gradient(top, #fff 50%, #e7ae38 50%);
	background-image: -o-linear-gradient(top, #fff 50%, #e7ae38 50%);
	background-image: -ms-linear-gradient(top, #fff 50%, #e7ae38 50%);
	background-image: linear-gradient(to bottom, #fff 50%, #e7ae38 50%);
	-webkit-background-size: 5px 5px;
	-moz-background-size: 5px 5px;
	background-size: 5px 5px;
	background-position: bottom center;
}
.st-stack:before {
	content: '';
	position: absolute;
	width: 140%;
	left: -20%;
	bottom: -10px;
	height: 20px;
	z-index: -1;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 60%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 60%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 60%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 60%);
	background: radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 60%);
}
.st-stack-left {
	left: 0px;
	display: none;
}
.st-stack-right {
	right: 0px;
	display: none;
}
.st-wrapper .st-title, .st-wrapper nav {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.st-wrapper .st-title {
	padding: 0 10% 60px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	display: none;
}
.st-wrapper .st-title h2 {
	padding: 0 20px;
	font-size: 28px;
	color: #dc4e2a;
	font-weight: 400;
	letter-spacing: 3px;
	font-family: 'Englebert', Arial, sans-serif;
	line-height: 38px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.st-wrapper .st-title h3 {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.st-wrapper nav span {
	color: transparent;
	position: absolute;
	width: 90px;
	height: 75px;
	left: 50%;
	bottom: 0;
	cursor: pointer;
}
.st-wrapper nav span:first-child {
	position: absolute;
	left: 0px;
	top: -235px;
}
.st-wrapper nav span:last-child {
	position: absolute;
	bottom: 160px;
	left: 850px;
}
.st-wrapper nav span:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	font-size: 0px;
	line-height: 40px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	color: #fff;
	cursor: pointer;
}
.st-wrapper nav span:first-child:before {
	content: "\4c";
}
.st-wrapper nav span:last-child:before {
	content: "\52";
}
.st-wrapper nav span:hover:before {
	color: #333;
}
.st-wrapper .st-item {
	position: absolute;
	-webkit-transform-style : preserve-3d;
	-moz-transform-style : preserve-3d;
	-o-transform-style : preserve-3d;
	-ms-transform-style : preserve-3d;
	transform-style : preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.st-wrapper .st-item.st-center {
	-webkit-transform: rotateZ(0deg) rotateY(0deg);
	-moz-transform: rotateZ(0deg) rotateY(0deg);
	-o-transform: rotateZ(0deg) rotateY(0deg);
	-ms-transform: rotateZ(0deg) rotateY(0deg);
	transform: rotateZ(0deg) rotateY(0deg);
}
.st-wrapper .st-item.st-right, .st-wrapper .st-item.st-rightflow {
	opacity: 0;
	-webkit-transform: rotateZ(90deg) rotateY(-90deg);
	-moz-transform: rotateZ(90deg) rotateY(-91deg);
	-o-transform: rotateZ(90deg) rotateY(-90deg);
	-ms-transform: rotateZ(90deg) rotateY(-90deg);
	transform: rotateZ(90deg) rotateY(-91deg);
	pointer-events: none;
}
.st-wrapper .st-item.st-left, .st-wrapper .st-item.st-leftflow {
	opacity: 0;
	-webkit-transform: rotateZ(-90deg) rotateY(90deg);
	-moz-transform: rotateZ(-90deg) rotateY(91deg);
	-o-transform: rotateZ(-90deg) rotateY(90deg);
	-ms-transform: rotateZ(-90deg) rotateY(90deg);
	transform: rotateZ(-90deg) rotateY(91deg);
	pointer-events: none;
}
.st-wrapper .st-item.st-rightflow, .st-wrapper .st-item.st-leftflow, .st-wrapper .st-item.st-center {
	opacity: 1;
}
.st-wrapper .st-item a, .st-wrapper .st-item img {
	border: none;
	max-width: 100%;
	display: block;
}
.st-wrapper .st-item a {
	background: #fff;
	box-shadow: 0 0 0 9px #fff, 0 1px 3px 9px rgba(0,0,0,0.3);
}
/*end of slider css*/
